.idea
scripts/.idea
scripts/cluster_jobs/logs/
scripts/cluster_jobs/batch_jobs/
scripts/__pycache__/
scripts/cluster_jobs/subject_ids/
scripts/cluster_jobs/*.batch
.DS
*.xml
scripts/.ipynb_checkpoints/rt_mid_firstlvl-checkpoint.ipynb
scripts/cluster_jobs/upload_neurovault/
.DS_Store
scripts/notebook_mid-rt_results_old.ipynb
